.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 1px solid #fff;
    margin: 3% 5%;
    place-self: center;
    height: 60vh;
}

.result {
    grid-area: 1 / 1 / 2 / 5;
    background-color: gray;
    color: #fff;
    text-align: right;
    padding: 5px;
    font-size: 25px;
}

button {
    border: 1px solid rgb(199, 199, 199);
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

.zero {
    grid-area: 6 / 1 / 7 / 3;
}

.ver {
    background-color: rgb(245, 145, 62);
}